/* Global Var */
:root{
  --main-dark-blue: #1B2346;
  --main-light-blue: #74F9FF;
  --main-dark-gray: #111111;
  --main-light-gray: #e9dff7;
  --main-purple: #B100FF;
}

/*Styling*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: SignikaNegative;;
  background: var(--main-dark-gray);
  color: var(--main-light-gray);

}

@font-face {
  font-family: 'SignikaNegative';
  src: local('SignikaNegative'), url(../fonts/SignikaNegative-Regular.ttf) format('truetype');
}

.header-container{
  background:var(--main-dark-blue);
  height: 5rem;
}

.landing-page-container{
  height: 47rem;
  background: url(../images/classroom.png) no-repeat center center/cover;
}

#blue{
  color:var(--main-light-blue);
}